html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica", sans-serif;
}

#map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: beige;
}

#title {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    z-index: 10;
    padding: 8px;
    font-weight: bold;
}